@import com.gu.commercial.branding.Branding
@import common.commercial.ContainerModel
@import common.{Edition, Localisation}
@import views.html.fragments.commercial.containerLogo
@import views.support.RenderClasses

@(containerDefinition: layout.FaciaContainer,
    frontProperties: model.FrontProperties,
    maybeContainerModel: Option[ContainerModel],
    showFrontBranding: Boolean,
    frontId: Option[String])(implicit request: RequestHeader)

@containerHeader(containerDefinition, frontProperties)

<h3>My new audio box</h3>
@for(containerLayout <- containerDefinition.containerLayout) {
    <div class="@RenderClasses(Map(
        ("fc-container__body", true),
        ("fc-container--rolled-up-hide", true)
    ))"
    data-title="@Localisation(containerDefinition.displayName getOrElse "")"
    data-id="@containerDefinition.dataId">

        @* I cannot unpack this I don't know how it works *@
        @for(sliceWithCards <- containerLayout.slices) {
            @audioFlagshipSlice(sliceWithCards, containerDefinition.index, frontProperties = Some(frontProperties), containerDefinition.displayName, frontId)
        }


        @* Don't hide any items, for on tag pages, which are chronological *@
        @showMore(
            containerDefinition.containerLayout.map(_.remainingCards).getOrElse(Nil),
            containerDefinition.index
        )
    </div>
}
